* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #1a0000 0%, #000000 80%);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
/* Main Card */
.main {
    width: 370px;
    padding: 50px 30px;
    background: rgba(20, 0, 0, 0.85);
    border-radius: 20px;
    text-align: center;
    position: relative;
    box-shadow:
        0 0 25px rgba(255, 0, 0, 0.6),
        0 0 70px rgba(255, 0, 0, 0.4);
    border: 2px solid #8b0000;
}

/* Glowing Border Animation */
.main::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 22px;
    background: linear-gradient(45deg, red, darkred, crimson, red);
    z-index: -1;
    filter: blur(15px);
    animation: borderGlow 6s linear infinite;
}

@keyframes borderGlow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Input */
input[type="date"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid crimson;
    background: rgb(111, 87, 87);
    color: white;
    font-size: 14px;
    margin-bottom: 25px;
    outline: none;
}

input[type="date"]:focus {
    box-shadow: 0 0 15px crimson;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, crimson, darkred);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(255, 0, 0, 0.6);
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 35px rgba(255, 0, 0, 0.9);
}

/* Result */
#result {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    color: #ff3333;
    font-weight: bold;
    text-shadow: 0 0 15px red;
}